.main {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    padding-top: 3rem;
    background-image: linear-gradient(rgb(253, 252, 249), white, rgb(248, 238, 232));
}

.main-intro {
    height: 30%;
    padding: 0 1rem 3rem 1rem;
}

.main-head {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-family: 'Lora', serif;
}

.main-descript {
    font-family: 'Work Sans', sans-serif;
    font-size: 2vh;
}

.main-pics {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5rem;
    padding-top: 1rem;
    margin-bottom: 3rem; 
}

#selfie-1 {
    max-width: 200px;
    opacity: 90%;
    border-radius: 20px;
}

#selfie-2 {
    max-width: 400px;
    height: 310px;
    opacity: 80%;
    border-radius: 20px;
}

#selfie-3 {
    max-width: 319px;
    opacity: 90%;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        padding-top: 1rem;
        background-image: linear-gradient(rgb(253, 252, 249), white, rgb(248, 238, 232));
    }

    .main-pics {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding-top: 1rem;
        margin-bottom: 1rem; 
    }

    #selfie-1 {
        max-width: 10rem;
        opacity: 90%;
        border-radius: 20px;
    }
    
    #selfie-2 {
        max-width: 10rem;
        max-height: 15rem;
        opacity: 80%;
        border-radius: 20px;
    }
    
    #selfie-3 {
        max-width: 10rem;
        opacity: 90%;
        border-radius: 20px;
    }
  }

  @media only screen and (max-width: 768px) {

    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        background-image: linear-gradient(rgb(253, 252, 249), white, rgb(248, 238, 232));
    }

    .main-head {
        font-size: 4rem;
        margin-bottom: 1rem;
        font-family: 'Lora', serif;
    }

    .main-descript {
        font-family: 'Work Sans', sans-serif;
        font-size: 1rem;
    }
  }