.projects-main {
    background-image: linear-gradient(rgb(253, 252, 249), white, rgb(248, 238, 232));
    display: grid;
    grid-template-columns: auto auto;
}

.projects-links {
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    justify-content: center;
    min-height: 80vh;
    padding-left: 20%;
}

#project-link {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    box-shadow: inset 0 0 0 0 #43bacc;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color 1s ease-in-out, box-shadow .3s ease-in-out;
    margin-left: 10px;
}

#project-link:hover {
    opacity: 80%;
    box-shadow: inset 600px 0 0 0 #61b3e9;
}

#project-link:visited {
    color: black;
}

.projects-square {
    font-size: 4rem;
}

#square1 {
    color: rgb(33, 120, 233);
}

#square2 {
    color: rgb(108, 220, 96);
}

#square3 {
    color: rgb(241, 200, 94);
}

#square4 {
    color: rgb(221, 115, 229);
}

#square5 {
    color: rgb(232, 101, 118);
}

.projects-picture {
    max-width: 25rem;
    border-radius: 50%;
    opacity: 90%;
}

.projects-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-right: 10rem;
}

@media only screen and (max-width: 768px) {
    
    .projects-main {
        background-image: linear-gradient(rgb(253, 252, 249), white, rgb(248, 238, 232));
    }

    .projects-links {
        display: flex;
        flex-direction: column;
        row-gap: 10%;
        justify-content: center;
        min-height: 80vh;
        padding-left: 20%;
        width: 33vh;
    }

    .projects-picture {
        display: none;
    }

    .projects-image {
        max-width: 0%;
    }

    .projects-square {
        font-size: 2.5rem;
    }

}